<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>프로젝트 소개</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div id="root"></div>
  <div class="nav">
    지리죠?
    <div class="nav-items">
      <img src="{{ url_for('static', filename='dongguk_logo.jpg') }}" alt="Dongguk University Logo" width="100">
    </div>
  </div>
  <div class="content">
    <p></p>
  </div>
  <div class="header">
    <h1>객체 인식 AI</h1>
    <p>저조도 환경에서 객체 인식을 해보세요.</p>
  </div>

  <div class="container">
    <div class="image-row">
      <img src="{{ url_for('static', filename='original.jpg') }}" alt="원본 이미지">
      <div class="arrow">→</div>
      <img src="result_extreme.jpg" alt="결과 이미지 1">
      <img src="result_moderate.jpg" alt="결과 이미지 2">
      <img src="result_severe.jpg" alt="결과 이미지 3">
    </div>
  </div>

  <div class="description">
    <p>저희는 저조도 개선 모델을 통해</p>
    <p>저조도 환경에서 사람을 인식할 수 있습니다.</p>
  </div>
  <div class="divider"></div>
  <a href="./result.html" class="test-button">테스트하기</a>
  <div class="divider"></div>
  <!-- 개발진 소개 -->
  <div class="team-section">
    <h2 class="team-header">개발진</h2>
    <div class="team">
      <div class="team-member">
        <div class="photo"><img src="Yun.jpg" alt="팀원 1" width="100"></div>
        <div class="name">윤여찬</div>
        <div class="role">역할</div>
      </div>
      <div class="team-member">
        <div class="photo"><img src="Kim.jpg" alt="팀원 2"></div>
        <div class="name">김윤지</div>
        <div class="role">역할</div>
      </div>
      <div class="team-member">
        <div class="photo"><img src="Lee.jpg" alt="팀원 3"></div>
        <div class="name">이용우</div>
        <div class="role">역할</div>
      </div>
      <div class="team-member">
        <div class="photo"><img src="Baek.jpg" alt="팀원 4"></div>
        <div class="name">백민경</div>
        <div class="role">역할</div>
      </div>
    </div>
    <div class="divider"></div>
</body>